:root {
  font-size: 10px;
  
	/**
	*  Layout
	**/
	
  // Margins
	--element--horizontal-margin: 3rem;
	--element--horizontal-margin-small: 2rem;
	--element--vertical-margin: 3rem;
	--element--vertical-margin-small: 2rem;

	// Widths
	--element--width: calc( 100% - ( 2 * var(--element--horizontal-margin) ) );
	--element--max-width: 120rem;
	--element--max-width-wide: 140rem;
	--element--max-width-full: 100%;

	/**
	*  Type
	**/

	// Paragraph
	--element--paragrah-margin: 1.3em;
	--element--paragraph-line-height: 1.4em;
	--element--paragraph-color: #0c0c0c;
	--element--paragraph-font: sans-serif;
	--element--paragraph-weight: 400;
	// Headings
	--element--heading-margin: 0.5em;
	--element--heading-line-height: 1.3em;
	--element--heading-color: #0e0e0e;
	--element--heading-font: sans-serif;
	--element--heading-weight: 600;
	// Links
	--element--anchor-color: #385E72;
	--element--anchor-color-hover: #6AABD2;
	// Forms
	--element--form--line-height: 1.3em;
	--element--form--color: #0c0c0c;
	--element--form--font: sans-serif;
	--element--form--weight: 400;
	--element--form--border-size: 1px;
	--element--form--border-color: #0c0c0c;
	--element--form--border-radius: 0;
	--element--form--padding-vertical: 8px;
	--element--form--padding-horizontal: 10px;

	/**
	*  Blocks
	**/

	// .wp-block-buttons
	--element--button-radius: 0;
	--element--button-horizontal-margin: 0.5em;
	--element--button-vertical-margin: 2rem;
  // .wp-block-image
	--element--aligned-image-margin: 2rem;
  // .wp-block-gb-block-posts
  --element--gp-posts-row-gap: 1.5rem;
  --element--gp-posts-column-gap: 2rem;
	// .wp-block-cover (wide & full)
	--element--cover-padding: max(var(--element--horizontal-margin), calc(( 100vw - var(--element--max-width) ) / 2 + var(--element--horizontal-margin)));
	--element--cover-width: calc(( 100vw - var(--element--max-width) ) / 2 + var(--element--horizontal-margin) + var(--element--max-width));
	// --element--cover-max-width: calc(( 100vw - var(--element--max-width) ) / 2 + var(--element--horizontal-margin) + var(--element--wide-width));
}


