:root {
  font-size: 10px;
  
  // Margins
	--element--horizontal-margin: 3rem;
	--element--horizontal-margin-small: 2rem;
	--element--vertical-margin: 3rem;

	// Widths
	--element--width: calc( 100% - ( 2 * var(--element--horizontal-margin) ) );
	--element--max-width: calc( 120rem + 1px );
	--element--max-width-wide: 140rem;
	--element--max-width-full: none;

	// Blocks

	// .wp-block-buttons
	--element--button-radius: 0;
	--element--button-vertical-margin: 2rem;

  // .wp-block-image
	--element--aligned-image-margin: 2rem;

  // .wp-block-gb-block-posts
  --element--gp-posts-row-gap: 1.5rem;
  --element--gp-posts-column-gap: 2rem;
}


