// @use "colors";

// font aliasing
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Font Face - Font Families
// @font-face {
//   font-family: "Custom Font Family";
//   src: url("../fonts/custom-font-family.otf") format("opentype");
// }
// %custom-font-family-normal {
//   font-family: "Custom Font Family";
//   font-weight: normal;
// }

// Variable Font Sizes - https://codesandbox.io/s/clamp-linear-intepolation-based-on-viewport-width-builder-xgkft?from-embed
// %font-size-paragraph {
//   font-size: unquote("clamp(1.4rem, 1.2000rem + 0.5556vw, 2rem)");
// }
// %font-size-h1 {
//   font-size: unquote("clamp(2.2rem, 1.2667rem + 2.5926vw, 5rem)");
// }

@mixin type {
  
}

// Gutenberg Inline Sizes
// @mixin gutenberg-inline-font-sizes {
//   .has-small-font-size,
//   &.has-small-font-size {
//     // font-size: calc(0.8 * var(--content-font-size)); 
//     font-size: 80%;
//   }
//   .has-large-font-size,
//   &.has-large-font-size {
//     // font-size: calc(1.2 * var(--content-font-size)); 
//     font-size: 120%;
//   }
// }

// Headings
@mixin heading {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--element--heading-font);
    margin-top: var(--element--heading-margin);
    margin-bottom: var(--element--heading-margin);
    line-height: var(--element--heading-line-height);
    font-weight: var(--element--heading-weight);
    color: var(--element--heading-color);
  }
  .has-text-color {
    h1, h2, h3, h4, h5, h6 {
      color: inherit;
    }
  }
  // h1 {}
  // h2 {}
  // h3 {}
  // h4 {}
  // h5 {}
  // h6 {}
}

// Base fonts
@mixin base {
  // Base font
  font-family: var(--element--paragraph-font);
  font-weight: var(--element--paragraph-weight);
  line-height: var(--element--paragraph-line-height);
  color: var(--element--paragraph-color);
  
  // Headings 
  @include heading;

  // Block Elements
  p,
  ul,
  ol,
  dl,
  form,
  blockquote,
  canvas,
  address,
  hr,
  pre,
  table {
    margin-top: var(--element--paragrah-margin);
    margin-bottom: var(--element--paragrah-margin);
  }

  p {
    &.has-background {
      padding: var(--element--vertical-margin) var(--element--horizontal-margin);
    }
  }

  // Lists
  ol, ul, dl {
    margin-top: var(--element--paragrah-margin);
    margin-bottom: var(--element--paragrah-margin);
    li {
      margin-bottom: 0.5em;
    }
    ol, ul, dl {
      margin-top: calc( var(--element--paragrah-margin) / 3 );
      margin-bottom: calc( var(--element--paragrah-margin) / 3 );
    }
  }
  iframe {
    max-width: 100%;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  // blockquote {
  //   p {}
  //   cite, .wp-block-pullquote__citation {}
  // }
  a {
    color: var(--element--anchor-color);
    text-decoration: none;
    transition: color 0.3s;
    &:hover {
			color: var(--element--anchor-color-hover);
		}
  }
  // hr {}
}

// Form fields
@mixin form {
  // form {
  //   * {
  //     --element--width: auto;
  //   }
  // }
  textarea,
  input[type="date"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="file"],
  input[type="image"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  input[type="hidden"] {
    line-height: var(--element--form--line-height);
    color: var(--element--form--color);
    font-family: var(--element--form--font);
    font-weight: var(--element--form--weight);
    border-radius: var(--element--form--border-radius);
    border: var(--element--form--border-size) solid var(--element--form--border-color);
    padding: var(--element--form--padding-vertical) var(--element--form--padding-horizontal);
    // border: 1px solid;
    // background: red;
    // padding: 0 15px;
    // width: 100%;
    // height: 48px;
    // color: #fff;
    // letter-spacing: 0.1em;    
    // transition: border-color 0.3s;
    // @media (min-width: 992px) { 
    //   height: 54px;
    // }
    &:focus {
      &::placeholder {
        opacity: 1;
      }
    }
    &::placeholder {
      transition: opacity 0.3s;
      opacity: 0.75;
    }
    &.wpcf7-not-valid {
      border-color: rgba(#f00f00, 0.75);
    }
  }
  input[type="color"] {
    width: 50px;
  }
  textarea {
    height: auto;
    resize: none;
  }
  input[type="button"],
  input[type="reset"],
  input[type="submit"],
  button {
    text-transform: uppercase;
  }
  // input[type="button"] {}
  // input[type="checkbox"] {}
  // input[type="radio"] {}
  // input[type="range"] {}
}