@use "../components/mixins";

// core gutenberg items
@mixin core {
	@include wp-block-cover;
	@include wp-block-image;
	@include wp-block-media-text;
	@include wp-block-columns;
	@include wp-block-buttons;
	@include wp-block-quote;
	@include wp-block-group;
	@include wp-block-navigation;
	@include wp-block-latest-posts__list;
	@include wp-block-media;
	@include wp-block-pullquote;
	@include wp-block-embed;
	@include wp-block-gallery;
	@include wp-block-gb-block-posts;
	@include wp-embed-responsive;
	@include wp-block-separator;
	@include wp-block-site-logo;
	@include wp-block-spacer;
	@include wp-block-social-links;
	@include wp-block-verse;
}

@mixin wp-block-cover {
	.wp-block-cover {
		padding: 0;
		&.alignfull {
			margin-top: 0;
			margin-bottom: 0;
		}
		.wp-block-cover__image-background {
			margin-top: 0 !important;
			margin-bottom: 0 !important;
			max-width: none !important;
		}
		.wp-block-cover__inner-container {
			@include mixins.trim;
			width: auto;
			padding-left: var(--element--horizontal-margin);
			padding-right: var(--element--horizontal-margin);
		}
		// &:not(.has-custom-content-position) {
		// 	text-align: center;
		// }
		&.has-custom-content-position {
			&.alignfull {
				padding-left: 0;
				padding-right: 0;
				.wp-block-cover__inner-container {
					max-width: var(--element--cover-width);
				}
				&.is-position-top-right,
				&.is-position-center-right,
				&.is-position-bottom-right {
					.wp-block-cover__inner-container {
						padding-right: var(--element--cover-padding); // max(var(--element--horizontal-margin), calc(( 100vw - var(--element--max-width) ) / 2 + var(--element--horizontal-margin)));
					}
				}
				&.is-position-top-left,
				&.is-position-center-left,
				&.is-position-bottom-left {
					.wp-block-cover__inner-container {
						padding-left: var(--element--cover-padding); // max(var(--element--horizontal-margin), calc(( 100vw - var(--element--max-width) ) / 2 + var(--element--horizontal-margin)));
					}
				}
			}
			&.alignwide {
				.wp-block-cover__inner-container {
					max-width: var(--element--cover-wide-padding);
				}
			}
			.wp-block-cover__inner-container {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}

@mixin wp-block-image {
	.wp-block-image {
		margin-top: var(--element--vertical-margin-small);
		margin-bottom: var(--element--vertical-margin-small);
		figure {
			@include mixins.trim;
			margin-top: 0;
			margin-bottom: 0;
			&.alignleft {
				margin-right: var(--element--aligned-image-margin);
			}
			&.alignright {
				margin-left: var(--element--aligned-image-margin);
			}
		}
		img {
			--element--max-width: 100%;
			height: auto;
			// max-width: 100%;
			display: block;
		}
	}
}

@mixin wp-block-columns {
	.wp-block-columns {
		margin-top: var(--element--vertical-margin);
		margin-bottom: var(--element--vertical-margin);
		// Remove double margin from hard to reach nested items
		@media (max-width: 599px) { 
			margin-bottom: 0 !important;
			& + * {
				margin-top: calc(var(--element--vertical-margin) - var(--element--vertical-margin-small)) !important;
			}
		}
		@media (min-width: 600px) and (max-width: 781px) {
			column-gap: 2em;
		}
		.wp-block-column {
			margin: 0;
			min-width: 0;
			min-height: 0;
			@media (min-width: 600px) { 
				@include mixins.trim;
			}
			
			&:first-child {
				& > * {
					&:first-child {
						@media (max-width: 599px) {
							margin-top: 0;
						}
					}
				}
				* {
					@media (min-width: 600px) { 
						// max-width: 36.4rem;
						// margin-left: auto;
						// margin-right: 0;
					}
				}
			}
			
			&:not(:first-child) {
				@media (min-width: 600px) { 
					margin-left: var(--element--horizontal-margin-small);
				}
				
				& > * {
					&:first-child {
						@media (max-width: 599px) {
								margin-top: 0;
						}
					}
				}
			}
			&:not(:only-child) {
				@media (min-width: 600px) and (max-width: 781px) {
					margin-left: 0; // Managed by column-gap above
				}
			}
			// &:nth-child(odd) {
			// 	@media (min-width: 600px) and (max-width: 781px) {
			// 		margin-left: 0;	
			// 	}
			// }

			.wp-block-columns {
				margin-top: calc(var(--element--vertical-margin) * 0.66);
				margin-bottom: calc(var(--element--vertical-margin) * 0.66);
				@media (min-width: 600px) and (max-width: 781px) {
					flex-wrap: wrap;
				}
				&:last-child {
					margin-bottom: 0;
				}
				.wp-block-column {
					&:first-child {
						* {
							max-width: none;
							margin-left: 0;
						}
					}
					@media (min-width: 600px) and (max-width: 781px) {
						flex-basis: 100% !important;
						margin-left: 0;
						&:not(:first-child) {
							margin-top: var(--element--paragrah-margin);
						}
					}
				}
			}
		}
	}
}

@mixin wp-block-buttons {
	.wp-block-buttons {
		row-gap: calc(var(--element--button-vertical-margin) / 2);
		column-gap: var(--element--button-vertical-margin);
		.wp-block-button {
			margin: 0;
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
			.wp-block-button__link {
				margin: 0; 
				border-radius: var(--element--button-radius);
			}
		}
	}
}

@mixin wp-block-quote {
	.wp-block-quote {
		p {
			font-size: 2rem;
		}
	}
}

@mixin wp-block-media-text {
	.wp-block-media-text {
		.wp-block-media-text__media,
		.wp-block-media-text__content {
			margin-top: 0;
			margin-bottom: 0;
		}
		.wp-block-media-text__content {
			@include mixins.trim;
			padding: var(--element--vertical-margin) var(--element--horizontal-margin);
		}
		// &:not(.is-style-stacked) {}
		&.is-style-stacked {
			grid-template-columns: auto !important;
			grid-template-rows: auto auto;
			.wp-block-media-text__media {
				grid-column: 1;
				grid-row: 1;
			}
			.wp-block-media-text__content {
				grid-column: 1;
				grid-row: 2;
				margin-left: 0;
				margin-right: 0;
			}
			&.has-media-on-the-right {
				.wp-block-media-text__media {
					grid-row: 2;
				}
				.wp-block-media-text__content {
					grid-row: 1;
				}	
			}
		}
	}
}

@mixin wp-block-group {
	.wp-block-group {
		@include mixins.trim;
		
		&.alignfull,
		&.alignwide {
			padding-left: var(--element--horizontal-margin);
			padding-right: var(--element--horizontal-margin);
			// & > * {
			// 	@include mixins.width;
			// }
		}

		&.has-background {
			padding-top: var(--element--vertical-margin);
			padding-bottom: var(--element--vertical-margin);
		}
	}
}

@mixin wp-block-navigation {
	// .wp-block-navigation	{}
}

@mixin wp-block-latest-posts__list {
	// .wp-block-latest-posts__list	{}
}

@mixin wp-block-gallery {
	.wp-block-gallery {
		.blocks-gallery-grid {
			.blocks-gallery-item {
				margin: 0 1em 1em 0;
			}
		}
	}
}

@mixin wp-block-gb-block-posts {
	.wp-block-gb-block-posts {
		.posts-list	{
			display: grid;
			grid-template-columns: 1fr;
			row-gap: var(--element--gp-posts-row-gap);
			@media (min-width: 768px) { 
				grid-template-columns: 1fr 1fr;
				column-gap: var(--element--gp-posts-column-gap);
			}
		}
	}
}

@mixin wp-block-media {
	// .wp-block-media {}
}

@mixin wp-block-embed {
	// .wp-block-embed {
	// 	width: fit-content;
	// 	.wp-block-embed__wrapper {
	// 		position: relative;
	// 		max-width: none;
	// 	}
	// 	iframe {
	// 		max-width: 100%;
	// 	}
	// }
}

@mixin wp-embed-responsive {
	// .wp-embed-responsive, &// .wp-embed-responsive {
	// 	.wp-has-aspect-ratio {
	// 		.wp-block-embed__wrapper:before {
	// 			content: "";
	// 			display: block;
	// 			padding-top: 50%
	// 		}
	// 		iframe {
	// 			position: absolute;
	// 			top: 0;
	// 			right: 0;
	// 			bottom: 0;
	// 			left: 0;
	// 			height: 100%;
	// 			width: 100%
	// 		}
	// 		&.wp-embed-aspect-21-9 .wp-block-embed__wrapper:before {
	// 			padding-top: 42.85%
	// 		}	
	// 		&.wp-embed-aspect-18-9 .wp-block-embed__wrapper:before {
	// 			padding-top: 50%
	// 		}	
	// 		&.wp-embed-aspect-16-9 .wp-block-embed__wrapper:before {
	// 			padding-top: 56.25%
	// 		}	
	// 		&.wp-embed-aspect-4-3 .wp-block-embed__wrapper:before {
	// 			padding-top: 75%
	// 		}	
	// 		&.wp-embed-aspect-1-1 .wp-block-embed__wrapper:before {
	// 			padding-top: 100%
	// 		}	
	// 		&.wp-embed-aspect-9-16 .wp-block-embed__wrapper:before {
	// 			padding-top: 177.77%
	// 		}	
	// 		&.wp-embed-aspect-1-2 .wp-block-embed__wrapper:before {
	// 			padding-top: 200%
	// 		}
	// 	}
	// }
}

@mixin wp-block-separator {
	.wp-block-separator {
		opacity: 1;
	}
}

@mixin wp-block-spacer {
	.wp-block-spacer {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
}

@mixin wp-block-social-links {
	.wp-block-social-links {
		row-gap: calc(var(--element--button-vertical-margin) / 2);
		column-gap: calc(var(--element--button-vertical-margin) / 2);
		.wp-social-link {
			margin: 0;
			.wp-block-social-link-anchor {
				margin: 0;
			}
		}
	}
}

@mixin wp-block-pullquote {
	.wp-block-pullquot {
		blockquote {
			@include mixins.trim;
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}

@mixin wp-block-verse {
	.wp-block-vers {
		font-style: italic;
	}
}

@mixin wp-block-site-logo {
	.wp-block-site-log {
		&.is-default-size img {
			width: 120px;
			height: auto;
		}
	}
}