@use "../components/mixins";

// core gutenberg items
@mixin core {
  @include wp-block-cover;
  @include wp-block-image;
  @include wp-block-media-text;
  @include wp-block-columns;
  @include wp-block-buttons;
  @include wp-block-quote;
  @include wp-block-group;
  @include wp-block-navigation;
  @include wp-block-latest-posts__list;
  @include wp-block-gallery;
	@include wp-block-gb-block-posts;
  // @include wp-block-custom-block;
}

@mixin wp-block-cover {
  .wp-block-cover {}
}

@mixin wp-block-image {
  .wp-block-image {
		figure {
			@include mixins.trim;
			margin-top: 0;
			margin-bottom: 0;
			&.alignleft {
				margin-right: var(--element--aligned-image-margin);
			}
			&.alignright {
				margin-left: var(--element--aligned-image-margin);
			}
		}
		img {
			height: auto;
			max-width: 100%;
      display: block;
		}
		
	}
}

@mixin wp-block-columns {
  .wp-block-columns {
		.wp-block-column {
			@include mixins.trim;
			margin-top: 0;
			margin-bottom: 0;
			&:not(:first-child) {
				margin-left: var(--element--horizontal-margin-small);
			}
		}
	}
}

@mixin wp-block-buttons {
  .wp-block-buttons {
		column-gap: var(--element--button-vertical-margin);
		.wp-block-button {
			margin: 0; 
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
			.wp-block-button__link {
				margin-top: 0;
				margin-bottom: 0;
				border-radius: var(--element--button-radius);
			}
		}
	}
}

@mixin wp-block-quote {
  .wp-block-quote {
    p {
      font-size: 2rem;
    }
  }
}

@mixin wp-block-media-text {
	.wp-block-media-text {
		.wp-block-media-text__media,
		.wp-block-media-text__content {
			margin-top: 0;
			margin-bottom: 0;
		}
		&:not(.is-style-stacked) {
			.wp-block-media-text__content {
				@include mixins.trim;
			}
		}
		&.is-style-stacked {
			grid-template-columns: auto;
			grid-template-rows: auto auto;
			.wp-block-media-text__media {
				grid-column: 1;
				grid-row: 1;
			}
			.wp-block-media-text__content {
				grid-column: 1;
				grid-row: 2;
			}
			&.has-media-on-the-right {
				.wp-block-media-text__media {
					grid-row: 2;
				}
				.wp-block-media-text__content {
					grid-row: 1;
				}	
			}
		}
	}
}

@mixin wp-block-group {
  .wp-block-group {
		@include mixins.trim;

		&.has-background {
			padding: var(--element--vertical-margin) var(--element--horizontal-margin);
		}
	}
}

@mixin wp-block-navigation {
  .wp-block-navigation {}
}

@mixin wp-block-latest-posts__list {
  .wp-block-latest-posts__list {}
}

@mixin wp-block-gallery {
  .wp-block-gallery {}
}

@mixin wp-block-gb-block-posts {
	.wp-block-gb-block-posts {
		.posts-list	{
			display: grid;
			grid-template-columns: 1fr;
			row-gap: var(--element--gp-posts-row-gap);
			@media (min-width: 768px) { 
				grid-template-columns: 1fr 1fr;
				column-gap: var(--element--gp-posts-column-gap);
			}
		}
	}
}

// @mixin wp-block-wp-block-custom-block {
//   .wp-block-wp-block-custom-block {}
// }