@use "alignment";
@use "../components/mixins";
@use "../blocks/blocks";


// Front end
#content article .entry-content {
	@include mixins.trim;
	& > * {
		width: var(--element--width);
	}
	* {
		// background: rgba(0, 0, 255, 0.05);
		max-width: var(--element--max-width);
		margin-left: auto;
		margin-right: auto;
		&[class^="wp-block-"] {
			margin-top: var(--element--vertical-margin);
			margin-bottom: var(--element--vertical-margin);
			&.alignwide,
			&.alignfull {
				&.has-background {
					margin-top: 0;
					margin-bottom: 0;
				}
			}
		}
	}

	.alignfull {
		max-width: var(--element--max-width-full);
		width: 100%;
	}
	.alignwide {
		max-width: var(--element--max-width-wide);
		width: 100%;
	}

	// Blocks
	@include blocks.core;	
}

