@use "alignment";
@use "../components/mixins";
@use "../blocks/blocks";
@use "../blocks/blocks-editor";

// :root {
// 	--element--width: calc( 100% - ( 2 * var(--element--horizontal-margin) ) )
// }

// Editor
body {
	// Blocks wrapper
	& > .edit-post-visual-editor__post-title-wrapper,
	& > .block-editor-block-list__layout.is-root-container {
		& > * {
			@include mixins.width;
			&[data-align="full"],
			&[data-align="wide"] {
				& > * {
					margin-left: auto;
					margin-right: auto;
				}
				&:first-child {
					& > * {
						margin-top: 0 !important;
					}
				}
				&:last-child {
					& > * {
						margin-bottom: 0 !important;
					}
				}
			}
			&[data-align="full"] {
				max-width: var(--element--max-width-full);
			}
			&[data-align="wide"] {
				max-width: var(--element--max-width-wide);
			}
			&:not([data-align="full"]):not([data-align="wide"]):not(.rich-text) {
				margin-top: var(--element--vertical-margin);
				margin-bottom: var(--element--vertical-margin);
			}
			&[data-align="full"],
			&[data-align="wide"] {
				width: 100%;
				& > * {
					&:not(.wp-block-group) {
						margin-top: var(--element--vertical-margin);
						margin-bottom: var(--element--vertical-margin);
					}
				}
			}
		}
	}
	
	// Title wrapper
	& > .edit-post-visual-editor__post-title-wrapper {
		.editor-post-title .editor-post-title__input {
			border: 0 none !important;
			padding-left: 0 !important;
			padding-right: 0 !important;
			width: 100% !important;
		}
	}

	@include blocks.core;	
	@include blocks-editor.core;	
}