@use "alignment";
@use "../components/mixins";
@use "../blocks/blocks";
@use "../blocks/blocks-editor";

// :root {
// 	--element--width: calc( 100% - ( 2 * var(--element--horizontal-margin) ) )
// }

// Editor
body {
	// Blocks wrapper
	& > .edit-post-visual-editor__post-title-wrapper,
	& > .block-editor-block-list__layout.is-root-container {
		@include mixins.trim;
		& > * {
			width: var(--element--max-width);
		}
		*:not(.components-placeholder):not(.components-placeholder *) {
			max-width: var(--element--max-width);
			margin-left: auto;
			margin-right: auto;
			&[data-align="full"], [data-align="full"] {
				max-width: var(--element--max-width-full);
				width: 100%;
			}
			&[data-align="wide"], [data-align="wide"] {
				max-width: var(--element--max-width-wide);
				width: 100%;
			}
			
			.wp-block,
			&.wp-block,
			[class^="wp-block-"],
			&[class^="wp-block-"] {
				&:not([data-align="full"]) {
					margin-top: var(--element--vertical-margin);
					margin-bottom: var(--element--vertical-margin);
				}
			}
			
			// Full width margins
			.wp-block,
			&.wp-block {
				&[data-align="full"] {
					& > *:not(.wp-block-cover) {
						margin-top: var(--element--vertical-margin);
						margin-bottom: var(--element--vertical-margin);
					}
				}
			}
		}
	
		[data-align="full"] {
			max-width: var(--element--max-width-full);
			width: 100%;
		}
		[data-align="wide"] {
			max-width: var(--element--max-width-wide);
		}
	
		// Blocks
		@include blocks.core;	
		@include blocks-editor.core;	
	}
	
	// Title wrapper
	& > .edit-post-visual-editor__post-title-wrapper {
		.editor-post-title .editor-post-title__input {
			border: 0 none !important;
			padding-left: 0 !important;
			padding-right: 0 !important;
			width: 100% !important;
		}
	}
}