@use "../layout/alignment";

header#header {
	& > * {
		width: var(--element--width);
		max-width: var(--element--max-width);
		margin-left: auto;
		margin-right: auto;
	}

	.inner {
		display: grid;
		grid-template-columns: auto auto;
		align-items: end;
	}
	
	// Logo
	#site-logo {
		font-size: 3rem;
		text-transform: uppercase;
		letter-spacing: 0.05em;;
	}

	// Navigation
	nav {
		display: none;
		@media (min-width: 768px) { 
			display: block;
		}
		ul {
			list-style: none;
			padding-left: 0;
			&:first-of-type {
				display: flex;
				justify-content: flex-end;
			}
		}
		& > ul {
			display: flex;
			li {
				padding-right: 10px;
			}
		}
	}

	// Hamburger
	.hamburger {
		@media (min-width: 768px) { 
			display: none;
		}
	}
}