// Core components
@use 'components/reset';
@use 'components/globals';
@use 'components/colors';
@use 'components/type';
@use 'components/accessibility';

@use 'blocks/blocks';

// Layout
@forward 'layout/editor';

// Plugins
@use 'plugins/wp-everything-image';
@use 'plugins/wpcf7';

body {
  @include type.base;

	:root {
		font-size: 10px;
	}
}

// editor header styles
.edit-post-visual-editor__post-title-wrapper {
	border-bottom: 1px solid #e0e0e0;
	.wp-block.editor-post-title.editor-post-title__block {
		margin: 0 !important;
		.editor-post-title__input {
			// padding: 0.5em !important;
			font-size: 2.4rem;
			font-family: sans-serif;
			margin: 0 var(--element--horizontal-margin-small);
		}
	}
}

